.popup__close-button {
  width: 40px;
  height: 40px;
  background: url('./../../../images/popup__close-button.svg') center/58px 58px
    no-repeat;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
  }
}
