.header__button-element {
  position: relative;
}

.header__button-element,
.header__button-element::before,
.header__button-element::after {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}

.header__button-element::before,
.header__button-element::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.3s;
}

.header__button-element::before {
  transform: translateY(-10px);
}

.header__button-element::after {
  transform: translateY(10px);
}
