.header__list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  transition: max-height 0.4s;
}

@media screen and (max-width: 540px) {
  .header__list {
    flex-basis: 100%;
    position: relative;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
