.profile {
  width: 100%;
  max-width: 882px;
  background-color: #000;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .profile {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 36px;
    justify-content: center;
  }
}

@media screen and (max-width: 530px) {
  .profile {
    grid-template-columns: auto;
    justify-content: stretch;
    justify-items: center;
    row-gap: 0;
  }
}
