.popup__form {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px 36px 36px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__form {
    width: 380px;
  }
}

@media screen and (max-width: 540px) {
  .popup__form {
    width: 350px;
  }
}

@media screen and (max-width: 425px) {
  .popup__form {
    width: 320px;
  }
}

@media screen and (max-width: 380px) {
  .popup__form {
    width: 270px;
  }
}

@media screen and (max-width: 340px) {
  .popup__form {
    width: 240px;
  }
}
